.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  background-color: rgb(58, 16, 75);
}

nav a {
  color:goldenrod!important;
  text-transform: uppercase;
}


i{
  float: left;
  padding:5px;
}

nav li:hover{
  background-color: rgba(255, 255, 255, 0.212);
}
h1,h4{
  font-weight: bold;
}

.search{
  padding:40px;
  max-width: 50%;
}

#search{
  background-color: rgb(58, 16, 75);
  color:goldenrod;
}

input .validate:focus{
  background-color: red!important
}

#searchinput:focus{
  border-bottom: 1px solid goldenrod;
  box-shadow: none;
}

.titleResults{
  border-bottom: 1px solid rgb(58,16,75);
  width:100%;
  margin-bottom:50px; 
  font-weight: bold;
  padding:10px;
}

.resContainer{
  margin:10px;
}

.btn{
  background-color:rgb(58,16,75);
  color:goldenrod;
}

a .btn:hover{
  background-color: goldenrod!important;
  color:rgb(58,16,75);
}

.card.horizontal .card-image img {
  border-radius: 2px 0 0 2px;
  width: 170px!important;
  height: 200px;
  object-fit: contain;
}

.titulo{
  font-weight: bold;
  color:rgb(58, 16, 75);
  font-size: 25px;
}

.autores{
  color:goldenrod;
  font-style: italic;
}

.descripcion{
  color:#070707;
}

.card .card-action{
  padding:8px;
}